.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal {
  background-color: #eeeeee;
  color: black;
  position: fixed;
  top: 100px;
  left: 100px;
  height: calc(100vh - 200px);
  width: calc(100vw - 200px);
  z-index: 2;
}

.modal .close {
  text-align: right;
  color: red;
  font-weight: bold;
  cursor: pointer;
  padding-right: 1em;
}

.modal-bg {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  background-color: black;
  opacity: 0.5;
}
